:root {
    color-scheme: light;
    --pf: 259 94% 44%;
    --sf: 314 100% 40%;
    --af: 174 75% 39%;
    --nf: 214 20% 14%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 259 94% 51%;
    --pc: 259 96% 91%;
    --s: 314 100% 47%;
    --sc: 314 100% 91%;
    --a: 174 75% 46%;
    --ac: 174 75% 11%;
    --n: 214 20% 21%;
    --nc: 212 19% 87%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%
}
*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
.spapi-container {
    width: 100%
}
@media (min-width: 640px) {
    .spapi-container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .spapi-container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .spapi-container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .spapi-container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .spapi-container {
        max-width: 1536px
    }
}
.spapi-alert {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    text-align: center;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2) / var(--tw-border-opacity));
    padding: 1rem;
    --tw-text-opacity: 1;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-radius: var(--rounded-box, 1rem);
    --alert-bg: hsl(var(--b2));
    --alert-bg-mix: hsl(var(--b1));
    background-color: var(--alert-bg)
}
@media (min-width: 640px) {
    .spapi-alert {
        grid-auto-flow: column;
        grid-template-columns: auto minmax(auto,1fr);
        justify-items: start;
        text-align: left
    }
}
.spapi-alert-error {
    border-color: hsl(var(--er) / 0.2);
    --tw-text-opacity: 1;
    color: hsl(var(--erc) / var(--tw-text-opacity));
    --alert-bg: hsl(var(--er));
    --alert-bg-mix: hsl(var(--b1))
}
@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.98))
    }
    40% {
        transform: scale(1.02)
    }
    100% {
        transform: scale(1)
    }
}
@keyframes checkmark {
    0% {
        background-position-y: 5px
    }
    50% {
        background-position-y: -2px
    }
    100% {
        background-position-y: 0
    }
}
@keyframes modal-pop {
    0% {
        opacity: 0
    }
}
@keyframes progress-loading {
    50% {
        background-position-x: -115%
    }
}
@keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px hsl(var(--b1)) inset,
      0 0 0 12px hsl(var(--b1)) inset
    }
    50% {
        box-shadow: 0 0 0 3px hsl(var(--b1)) inset,
      0 0 0 3px hsl(var(--b1)) inset
    }
    100% {
        box-shadow: 0 0 0 4px hsl(var(--b1)) inset,
      0 0 0 4px hsl(var(--b1)) inset
    }
}
@keyframes rating-pop {
    0% {
        transform: translateY(-0.125em)
    }
    40% {
        transform: translateY(-0.125em)
    }
    100% {
        transform: translateY(0)
    }
}
@keyframes toast-pop {
    0% {
        transform: scale(0.9);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}
.spapi-m-4 {
    margin: 1rem !important
}
.spapi-m-8 {
    margin: 2rem !important
}
.spapi-my-8 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important
}
.spapi-my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}
.spapi-h-6 {
    height: 1.5rem !important
}
.spapi-w-6 {
    width: 1.5rem !important
}
.spapi-max-w-4xl {
    max-width: 56rem !important
}
.spapi-max-w-lg {
    max-width: 32rem !important
}
.spapi-max-w-xl {
    max-width: 36rem !important
}
.spapi-max-w-2xl {
    max-width: 42rem !important
}
.spapi-shrink-0 {
    flex-shrink: 0 !important
}
.spapi-stroke-current {
    stroke: currentColor !important
}
.spapi-p-4 {
    padding: 1rem !important
}
@media (prefers-color-scheme: dark) {
    @media (min-width: 1024px) {
        .dark\:lg\:hover\:\[paint-order\:markers\]:hover {
            paint-order: markers
        }
    }
}
